<section class="sobre-cabecalho">
  <div>
    <h2>Pelo poder transformador dos livros</h2>
    <p>
      Bem-vindo ao nosso universo de leitura, onde as histórias ganham vida e
      se tornam companheiras de jornada. Aqui, acreditamos no poder transformador
      dos livros e na magia que encontramos entre suas linhas.
      Instigamos a leitura através de um apanhado diversificado de resenhas,
      repleto de tesouros literários que abrangem gêneros e autores diversos.
      Desde clássicos atemporais até as últimas obras aclamadas,
      temos o privilégio de compartilhar com você a paixão pela leitura.
      Deixe-se envolver  e permita que os livros enriqueçam sua vida de maneiras inesperadas!
    </p>
  </div>
  <figure>
    <img src="assets/imagens/sobre-cabecalho.png" alt="">
  </figure>
</section>

<section class="sobre-download">
    <figure>
      <img src="assets/imagens/sobre-download.png" alt="">
      <figcaption>Faça download em PDF e EPUB dos seus livros favoritos</figcaption>
    </figure>

    <figure>
      <img src="assets/imagens/sobre-celular.png" alt="">
      <figcaption>Encontre os livros que você está buscando e compre online</figcaption>
    </figure>
</section>

<section class="sobre-tecnologias">
  <h3>Tecnologias usadas</h3>
  <div class="icones-tecnologias">
    <img src="assets/imagens/angular.png" alt="Logo do Angular">
    <img src="assets/imagens/google.png" alt="Logo do Google">
    <img src="assets/imagens/nodejs.png" alt="Logo do JavaScript">
  </div>
</section>


