<article class="card-livro">
  <img src="{{ livro.thumbnail || 'assets/imagens/capa-indisponivel.png' }}" alt="Capa do livro">
  <section class="info-card">
    <h2>{{ livro.title | slice:0:30 }}</h2>
    <dl>
      <dt class="informacoes">Autoria:</dt>
      <dd class="resultado">{{ livro.authors ? (livro.authors | autoria | slice:0:20) : ''  }}</dd>
      <dt class="informacoes">Data de publicação:</dt>
      <dd class="resultado">{{ livro.publishedDate | date:'dd/MM/yyyy' }}</dd>
      <dt class="informacoes">Editora:</dt>
      <dd class="resultado">{{ livro.publisher | slice:0:20 }}</dd>
    </dl>
    <button (click)="onModalChange(true)">Mais detalhes</button>
  </section>
</article>
@if (modalAberto) {
  <ng-container>
    <app-modal [livro]="livro" (mudouModal)="onModalChange($event)"></app-modal>
  </ng-container>
}


