<header>
  <a class="logo"
    routerLink="/lista-livros"
    routerLinkActive="active-page"
    ariaCurrentWhenActive="page"
    aria-label="Página inicial"  >
    <img
      src="assets/imagens/logo.png"
      alt="Logo da aplicação Buscante"  >
  </a>
  <nav>
    <a
      routerLink="/sobre"
      routerLinkActive="active-page"
      aria-label="Mais informações sobre buscante"  >Sobre
    </a>
    <a
      routerLink="/contato"
      routerLinkActive="active-page"
      aria-label="Entre em contato"  >Contato
    </a>
  </nav>
</header>

