<dialog
  [open]="statusModal"
  class="container">
  <article class="card">
    <img
      class="imagem"
      [src]="thumbnailUrl"
      alt="Capa do livro: {{ livro.title }}"
    >
    <section class="info-card">
      <h2 class="titulo">{{ livro.title }}</h2>
      <p class="informacoes">Autoria:</p>
      <p class="resultado">{{ livro.authors }}</p>
      <p class="informacoes">Data de publicação:</p>
      <p class="resultado">{{ livro.publishedDate | date:'dd/MM/yyyy' }}</p>
      <p class="informacoes">Editora:</p>
      <p class="resultado">{{ livro.publisher }}</p>
      <div class="botoes">
        <button (click)="lerPrevia()" class="detalhes">Ler prévia</button>
      </div>
    </section>
    <button (click)="fecharModal()" class="botao-fechar">
      <span class="material-symbols-outlined">close</span>
    </button>
    <section class="sinopse">
      <h3 class="informacoes">Sinopse</h3>
      <p class="resultado">{{ livro.description | slice:0:1000 }}</p>
    </section>
  </article>
  <div class="overlay"></div>
</dialog>
